.c-wrapper.classic {

  .c-section-title {
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin: 0 -5px 10px -5px;
  
    &.top-bottom-border {
      border-top: 1px solid black;
  
      .title {
        margin: 4px 0;
      }
    }
  
    .title {
      text-align: left;
      margin-bottom: 5px;
    }
  }
}
