.c-default-layout {
  background: rgb(92, 92, 92);
  background: linear-gradient(
    52deg,
    rgba(92, 92, 92, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 33, 33, 1) 89%
  );
}

.App {
  overflow: hidden;

  &.light-mode {
    background: rgb(188,237,255);
    background: linear-gradient(331deg, rgb(227,241,250) 0%, rgb(209,228,240) 62%);
  }

  &.form-active {
    overflow-y: scroll;
  }

  div.hide {
    display: none;
  }

  .form-block {
    position: relative;
    transition: all .7s;

    &.hide-form {
      opacity: 0;
      z-index: -1;
    }

    &.show-form {
      opacity: 1;
      z-index: 2;
    }
  }
}
