@import "../../../styles/mixins";
@import "../../../styles/neumorph";

.c-resume-form {

  &.light-mode {

    .c-form-nav button {
      height: 75px;
      width: 75px;
      background: linear-gradient(145deg, #FFFFFF, #B0BEC6);
      border-radius: 100%;
      box-shadow: 8.11px 8.11px 15px #C5D5DE, -8.11px -8.11px 15px #EDFFFF;

      &:active {
        background: #d9eaf4;
        border-radius: 100%;
        box-shadow: 8.11px 8.11px 15px #C5D5DE, -8.11px -8.11px 15px #EDFFFF;
      }
    }

    .resume-form .segment .list-items,
    .resume-form .segment .c-form-list .list-items {
      border-radius: 50px;
      background: linear-gradient(145deg, #f3ffff, #ccd9e1);
      box-shadow: 7px 7px 14px #bcc8d0, -7px -7px 14px #ffffff;

      label {
        color: #90a7be;
        font-size: 1.25rem;
        font-weight: 900;
      }

      input,
      textarea {
        color: #474747;
        border-radius: 49px;
        background: #d9eaf4;
        box-shadow: inset 7px 7px 14px #bcc8d0, inset -7px -7px 14px #ffffff;
        /* box-shadow: inset -5px -5px 10px #c8d7e0, inset 5px 5px 10px #eafdff; */
        text-shadow: none;
      }

      textarea {
        padding: 16px 22px;
      }
    }
  }

  @include breakpoint(tablet) {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
  }

  .c-form-nav {
    position: relative;
    transform: translateY(-123px);
/*     position: absolute;
    left: 0;
    top: 50%;
    width: 100%; */

    &.on-contact-form {
      transform: translateY(-57px);

      button.next-btn {
        /* margin-left: 82%; */
      }
    }

    button.back-btn {
      /* margin-left: 14%; */
    }

    button.next-btn {
      /* margin-left: 62%; */
    }

    button.back-btn,
    button.next-btn
    {

    }
  }

  .resume-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    button {
      width: 100%;
      margin-top: 25px;
    }

    .segment,
    .segment .c-form-list {
      margin-bottom: 25px;
      transition: all 0.7s;

      &.reviewing {
        &.phase-zero,
        &.phase-one,
        &.phase-two,
        &.phase-three,
        &.phase-four {
          &.in-review {
            position: relative;
            transform: translateX(0);
            opacity: 1;
            z-index: 2;
          }
        }
      }

      &.phase-zero,
      &.phase-one,
      &.phase-two,
      &.phase-three,
      &.phase-four {
        &.show {
          position: relative;
          transform: translateX(0);
          opacity: 1;
          z-index: 2;
        }

        &.hidden {
          // display: none;
          position: absolute;
          opacity: 0;
          transform: translateX(100vw);
          z-index: -2;
        }

        &.transition-out {
          transform: translateX(-100vw);
          opacity: 0;
        }
      }

      .c-contractor {
        display: flex;
        align-items: center;
      }

      .c-show-contractor {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.3s;
        opacity: 1;

        &.hide-field {
          opacity: 0;
        }
      }

      .c-contractor-field {
        transition: all 0.3s;
        opacity: 1;
        height: 115px;

        &.hide-field {
          height: 0;
          opacity: 0;
        }
      }

      .c-contact-items,
      .c-work-items,
      .c-project-items,
      .c-skill-row,
      .c-edu-items {
        background: #292929;
        overflow: hidden;
        border-radius: 70px;
        padding: 65px;
        margin-bottom: 40px;

        &.transition-out {
          .content-wrapper {
            height: 0;
          }
        }

        .content-wrapper {
          height: auto;
          transition: all 0.7s;
        }

        label,
        input,
        textarea {
          letter-spacing: $letter-space;
        }

        label {
          display: inline-block;
          color: #cdcdcd;
          margin: 0 0 10px 15px;
        }

        input,
        textarea {
          &.contractor {
            width: 40px;
            height: 40px;
          }

          margin-bottom: 15px;
          color: $white;
          caret-color: $white;
          margin-right: $ruler/2;
          box-shadow: inset 2px 2px 5px $color-shadow,
            inset -5px -5px 10px $color-white;
          width: 100%;
          box-sizing: border-box;
          transition: all 0.2s ease-in-out;
          appearance: none;
          -webkit-appearance: none;
          border: 0;
          outline: 0;
          font-size: $ruler;
          border-radius: $ruler * 20;
          padding: $ruler;
          background-color: $color-bg;
          text-shadow: 1px 1px 0 $color-white;
          margin-bottom: 20px;
        }

        textarea {
          border-radius: 30px;
        }
      }
    }
  }

  button,
  i {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler * 20;
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler * 3;
    height: $ruler * 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $ruler/2;
    font-size: $ruler * 1.2;
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
      background: #272727;
      box-shadow: inset 21px 21px 49px #1a1a1a, inset -21px -21px 49px #343434;
    }
  }
}
