.c-header {
  display: flex;
  justify-content: space-between;

  .address {
    width: 195px;
    text-align: left;
  }

  .name {
    font-size: 1.525rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .contact {
    text-align: right;
  }

  .address,
  .contact {
    font-size: 0.975rem;
  }
}
