@import '../../../../styles/mixins';

.c-progress-bar {
  width: 70%;
  height: 32px;
  border: 7px solid rgb(54, 54, 54);
  border-radius: 30px;
  box-shadow: inset 3px 5px 15px rgba(0, 0, 0, 0.63),
    -3px -5px 5px rgba(255, 255, 255, 0.164), 3px 5px 15px rgba(0, 0, 0, 0.63),
    inset -3px -5px 5px rgba(255, 255, 255, 0.164);
  overflow: hidden;
  margin: 20px auto 40px auto;

  @include breakpoint(tablet) {
    margin-bottom: 40px;
    width: 100%;
  }

  @include breakpoint(desktop-sm) {
    margin: 15px auto 40px auto;
  }

  @include breakpoint(desktop-lg) {
    margin-top: 55px;
  }

  &.light-mode {
    border-radius: 50px;
    background: #e3f1fa;
    box-shadow: inset 7px 7px 14px #bcc8d0, inset -7px -7px 14px #ffffff;
    border: none;
    overflow: initial;

    .progress-bar {
      background: rgb(155, 93, 206);
      background: linear-gradient(
        331deg,
        rgba(155, 93, 206, 1) 0%,
        rgba(115, 123, 228, 1) 97%
      );
      box-shadow: 0px 0px 14px #b29dd0, 0px 0px 14px #fcddff;
    }
  }

  .progress-bar {
    background: rgb(255, 173, 0);
    background: linear-gradient(
      225deg,
      rgba(255, 173, 0, 1) 34%,
      rgba(255, 0, 187, 1) 86%
    );
    border-radius: 20px;
    box-shadow: inset 0 0 10px black;
    position: relative;
    width: 20%;
    content: " ";
    height: inherit;
    transition: width 0.7s ease-out;
  }
}
