@import './styles/_mixins.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: rgb(92,92,92);
  background: linear-gradient(52deg, rgba(92,92,92,1) 0%, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 89%);
  min-height: 100vh;
  overflow: hidden;
  max-height: 100vh;
}
